{% extends 'base.html' %}
{% load static %}
{% block content%}

<div>
    <form method="post" class="myform">
        {% csrf_token %}
        <h2>Password Reset Confirm</h2>
        <form method="post" class="myform">
        {% if validlink %}
          <p>Please enter your new password twice:</p>
          <form method="post">
              {{ form.as_p }}
              {% csrf_token %}
              <p><input type="submit" class="login-btn" value="Reset" /></p>
         </form>
   {% else %}
    <p>The password reset link was invalid, possibly because it has already
        been used. Please request a new password reset.</p>
   {% endif %}
    </form>
    </form>
</div>

{% endblock content%}