{% extends 'base.html' %}
{% load static %}
{% block content%}

<div>
    <form method="post" class="myform">
        {% csrf_token %}
        <h2>Reset Password</h2>
<!--        {{ form }}-->

        {% for fields in form %}
                {{ fields.label_tag }}
                {{ fields }}

                {% if fields.errors %}
                    <small class="errormessage">{{ fields.errors|striptags }}</small>
                {% endif %}
        {% endfor %}

        <div>
            <input class="login-btn" type="submit" value="Send">
            <a href="{% url 'login'%}" class="link">Cancel</a>
        </div>


    </form>
</div>

{% endblock content%}